<%= form_with(model: @pengguna, local: true, id: "borang_pengguna") do |f| %>
<%= render 'shared/error_messages', object: @pengguna %>
<section class= 'formValidator'>

</section>
<li>
  <%= f.label :username %>
  <br>
  <%= f.text_field :username %>
</li>
  <br>
<li>
  <%= f.label :email %>
  <br>
  <%= f.email_field :email %>
</li>
<br>
<li>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
</li>
<br>
<li>
  <%= f.label :password_confirmation, "Confirmation" %>
  <br>
  <%= f.password_field :password_confirmation %>
</li>
<br>
<li>
  <%= f.submit "Create my account", data: { disable_with: false } %> <!data need to disable because of ruby on rails behaviour button in order to run the js code>
  </li>
<% end %>


<div class="input-group flex-nowrap"> 
  <span class="input-group-text" id="addon-wrapping">Username</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
