<h1>This Is <%= @user.username %> Profile Page</h1>

<% if current_user != @user %>
  <% if current_user.followings.include?(@user) %>
    <%= form_for @find_relationship, html: {method: :delete} do |f| %>
    <%= f.submit 'Unfollow' %>
  <% end %>
    <% else %>
      <%= form_for Relationship.new do |f| %>
      <%= hidden_field_tag :following_id, @user.id %>
      <%= f.submit 'Follow' %>
      <% end %>
   <% end %>
<% end %>

<% if current_user == @user %>
  <%= form_with(model: Post.new, local: true) do |f| %>
    <%= f.label :Insert %>
    <br>
    <%= f.file_field :photo %>
    <%= f.label :Caption %>
    <%= f.text_field :caption%>
    <%= f.submit :post %>
  <% end %>
<% end %>

<br>
<br>

<% @user.posts.each do |n|%>

  <div class="form-group">
    <% if n.photo.attached? %>
      <%=  image_tag n.photo, style: "width: 200px; display: block"  %>
    <%  end %>
    <%=  n.caption %>
    <br>
    <%= form_for([n, @comment]) do |f| %>
    <%= f.text_field :content %>
    <%= f.submit 'Comment'%>
  <% end %>
  <% n.comments.each do |comment| %>
    <%= comment.pengguna.username %>
    <%= comment.content %>
  <% end %>
    <br>
    <%= link_to "edit", edit_post_path(n) %>
    <%= link_to "delete", post_path(n), method: :delete %>
  </div>

<% end %>
